<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="copy">
    <div class="container-fluid">

        <!-- <button type="button" class="btn btn-round btn-default dropdown-toggle btn-link" data-toggle="dropdown">
    7 days
    </button> -->
        <h3 th:text="${cartoon.getName_cartoon_rus()}"></h3>
        <br>
        <!-- player -->
        <video id="emiliosalas_player" class="video-js vjs-emiliosalas-skin vjs-fluid" controls preload="auto" width="70%" height="50%"
               poster="../assets/img/ram.jpg" data-setup='{"aspectRatio":"16:9", "techOrder": ["video/mp4", "html5"]}'>
            <source src="../docs/videoplayback.mp4" type='video/mp4'/>
        </video>
        <!-- player end -->

    </div>
</div>
</body>
</html>